.ql-editor ol,
.ql-editor ul,
ol,
ul {
  margin-bottom: 24px;
  font-size: var(--oak-typography-body1-font-size);
  font-weight: 300;
  line-height: var(--oak-typography-body1-line-height);
  letter-spacing: var(--oak-typography-body1-letter-spacing);
  font-family: var(--elements-editor-font-family-list);
}
.ql-editor ol,
.ql-editor ul {
  margin-bottom: 0;
}
.ql-editor ol li,
.ql-editor ul li,
ol li,
ul li {
  list-style-position: inside !important;
  padding-left: 1.5em !important;
  display: list-item !important;
  list-style-type: none !important;
}
.ql-editor ol li::before,
.ql-editor ul li::before,
ol li::before,
ul li::before {
  display: inline-block !important;
  white-space: nowrap !important;
  margin-right: 0.3em !important;
  text-align: right !important;
}
.ql-editor ol li.ql-indent-1,
.ql-editor ul li.ql-indent-1,
ol li.ql-indent-1,
ul li.ql-indent-1 {
  padding-left: 3em !important;
}
.ql-editor ol li.ql-indent-2,
.ql-editor ul li.ql-indent-2,
ol li.ql-indent-2,
ul li.ql-indent-2 {
  padding-left: 4.5em !important;
}
.ql-editor ol li.ql-indent-3,
.ql-editor ul li.ql-indent-3,
ol li.ql-indent-3,
ul li.ql-indent-3 {
  padding-left: 6em !important;
}
.ql-editor ol li.ql-indent-4,
.ql-editor ul li.ql-indent-4,
ol li.ql-indent-4,
ul li.ql-indent-4 {
  padding-left: 7.5em !important;
}
.ql-editor ol li.ql-indent-5,
.ql-editor ul li.ql-indent-5,
ol li.ql-indent-5,
ul li.ql-indent-5 {
  padding-left: 9em !important;
}
.ql-editor ol li.ql-indent-6,
.ql-editor ul li.ql-indent-6,
ol li.ql-indent-6,
ul li.ql-indent-6 {
  padding-left: 10.5em !important;
}
.ql-editor ol li.ql-indent-7,
.ql-editor ul li.ql-indent-7,
ol li.ql-indent-7,
ul li.ql-indent-7 {
  padding-left: 12em !important;
}
.ql-editor ol li::before,
.ql-editor ul li::before {
  margin-right: 1.3em !important;
}
.ql-editor ol li,
ol li {
  list-style-type: none !important;
  counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9 !important;
  counter-increment: list-0 !important;
}
.ql-editor ol li::before,
ol li::before {
  content: counter(list-0) ". " !important;
}
.ql-editor ol li.ql-indent-1,
ol li.ql-indent-1 {
  counter-reset: list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9 !important;
  counter-increment: list-1 !important;
}
.ql-editor ol li.ql-indent-1::before,
ol li.ql-indent-1::before {
  content: counter(list-0) "." counter(list-1) ". " !important;
}
.ql-editor ol li.ql-indent-2,
ol li.ql-indent-2 {
  counter-reset: list-3 list-4 list-5 list-6 list-7 list-8 list-9 !important;
  counter-increment: list-2 !important;
}
.ql-editor ol li.ql-indent-2::before,
ol li.ql-indent-2::before {
  content: counter(list-2, lower-alpha) ". " !important;
}
.ql-editor ol li.ql-indent-3,
ol li.ql-indent-3 {
  counter-reset: list-4 list-5 list-6 list-7 list-8 list-9 !important;
  counter-increment: list-3 !important;
}
.ql-editor ol li.ql-indent-3::before,
ol li.ql-indent-3::before {
  content: counter(list-3, lower-roman) ". " !important;
}
.ql-editor ol li.ql-indent-4,
ol li.ql-indent-4 {
  counter-reset: list-5 list-6 list-7 list-8 list-9 !important;
  counter-increment: list-4 !important;
}
.ql-editor ol li.ql-indent-4::before,
ol li.ql-indent-4::before {
  content: counter(list-4) ". " !important;
}
.ql-editor ol li.ql-indent-5,
ol li.ql-indent-5 {
  counter-reset: list-6 list-7 list-8 list-9 !important;
  counter-increment: list-5 !important;
}
.ql-editor ol li.ql-indent-5::before,
ol li.ql-indent-5::before {
  content: counter(list-4) "." counter(list-5) ". " !important;
}
.ql-editor ol li.ql-indent-6,
ol li.ql-indent-6 {
  counter-reset: list-7 list-8 list-9 !important;
  counter-increment: list-6 !important;
}
.ql-editor ol li.ql-indent-6::before,
ol li.ql-indent-6::before {
  content: counter(list-6, lower-alpha) ". " !important;
}
.ql-editor ol li.ql-indent-7,
ol li.ql-indent-7 {
  counter-reset: list-8 list-9 !important;
  counter-increment: list-7 !important;
}
.ql-editor ol li.ql-indent-7::before,
ol li.ql-indent-7::before {
  content: counter(list-7, lower-roman) ". " !important;
}
.ql-editor ul li,
ul li {
  list-style-type: none;
}
.ql-editor ul li::before,
ul li::before {
  content: "\2022";
}
