.overlap-section-editor--offset-position-top.overlap-section-editor--offset-small {
  margin-top: 50px;
}
.overlap-section-editor--offset-position-top.overlap-section-editor--offset-medium {
  margin-top: 100px;
}
.overlap-section-editor--offset-position-top.overlap-section-editor--offset-large {
  margin-top: 150px;
}
.overlap-section-editor--offset-position-bottom.overlap-section-editor--offset-small {
  margin-bottom: 50px;
}
.overlap-section-editor--offset-position-bottom.overlap-section-editor--offset-medium {
  margin-bottom: 100px;
}
.overlap-section-editor--offset-position-bottom.overlap-section-editor--offset-large {
  margin-bottom: 150px;
}
