.elements-site__content-frame-group {
  box-sizing: border-box;
  width: 100%;
  display: grid;
  > div {
    height: 100%;
    width: 100%;
  }
}

.elements-site__content-frame-group--gap-xsmall {
  column-gap: 20px;
  row-gap: 20px;
}
.elements-site__content-frame-group--gap-small {
  column-gap: 40px;
  row-gap: 40px;
}
.elements-site__content-frame-group--gap-medium {
  column-gap: 60px;
  row-gap: 60px;
}
.elements-site__content-frame-group--gap-large {
  column-gap: 80px;
  row-gap: 80px;
}
.elements-site__content-frame-group--gap-xlarge {
  column-gap: 100px;
  row-gap: 100px;
}

.elements-site__content-frame-group--padding-x-none {
  padding-left: 0;
  padding-right: 0;
}
.elements-site__content-frame-group--padding-x-small {
  padding-left: 10px;
  padding-right: 10px;
}
.elements-site__content-frame-group--padding-x-medium {
  padding-left: 20px;
  padding-right: 20px;
}
.elements-site__content-frame-group--padding-x-large {
  padding-left: 30px;
  padding-right: 30px;
}
.elements-site__content-frame-group--padding-y-none {
  padding-top: 0;
  padding-bottom: 0;
}
.elements-site__content-frame-group--padding-y-small {
  padding-top: 10px;
  padding-bottom: 10px;
}
.elements-site__content-frame-group--padding-y-medium {
  padding-top: 20px;
  padding-bottom: 20px;
}
.elements-site__content-frame-group--padding-y-large {
  padding-top: 30px;
  padding-bottom: 30px;
}

.elements-site__content-frame-group--align-x-left {
  justify-content: flex-start;
}
.elements-site__content-frame-group--align-x-center {
  justify-content: center;
}
.elements-site__content-frame-group--align-x-right {
  justify-content: flex-end;
}

.elements-site__content-frame-group--layout-responsive.elements-site__content-frame-group--grid-width-auto {
  grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
}

.elements-site__content-frame-group--layout-responsive.elements-site__content-frame-group--do-not-expand-to-fill.elements-site__content-frame-group--grid-width-xsmall {
  grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
  > div {
    max-width: 100px;
  }
}
.elements-site__content-frame-group--layout-responsive.elements-site__content-frame-group--expand-to-fill.elements-site__content-frame-group--grid-width-xsmall {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.elements-site__content-frame-group--layout-responsive.elements-site__content-frame-group--do-not-expand-to-fill.elements-site__content-frame-group--grid-width-small {
  grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
  > div {
    max-width: 200px;
  }
}
.elements-site__content-frame-group--layout-responsive.elements-site__content-frame-group--expand-to-fill.elements-site__content-frame-group--grid-width-small {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.elements-site__content-frame-group--layout-responsive.elements-site__content-frame-group--do-not-expand-to-fill.elements-site__content-frame-group--grid-width-medium {
  grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
  > div {
    max-width: 300px;
  }
}
.elements-site__content-frame-group--layout-responsive.elements-site__content-frame-group--expand-to-fill.elements-site__content-frame-group--grid-width-medium {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.elements-site__content-frame-group--layout-responsive.elements-site__content-frame-group--do-not-expand-to-fill.elements-site__content-frame-group--grid-width-large {
  grid-template-columns: repeat(auto-fit, minmax(400px, max-content));
  > div {
    max-width: 400px;
  }
  @media (max-width: 767px) {
    grid-template-columns: repeat(auto-fit, minmax(350px, max-content));
    > div {
      max-width: 350px;
    }
  }
}
.elements-site__content-frame-group--layout-responsive.elements-site__content-frame-group--expand-to-fill.elements-site__content-frame-group--grid-width-large {
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  @media (max-width: 767px) {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}

.elements-site__content-frame-group--layout-single-column {
  grid-template-columns: 1fr;
}
.elements-site__content-frame-group--layout-two-column.elements-site__content-frame-group--layout-proportion-equal {
  grid-template-columns: 1fr 1fr;
}
.elements-site__content-frame-group--layout-two-column.elements-site__content-frame-group--layout-proportion-wide-left {
  grid-template-columns: 2fr 1fr;
}
.elements-site__content-frame-group--layout-two-column.elements-site__content-frame-group--layout-proportion-wide-right {
  grid-template-columns: 1fr 2fr;
}
.elements-site__content-frame-group--layout-two-column.elements-site__content-frame-group--layout-proportion-auto-left {
  grid-template-columns: auto 1fr;
}
.elements-site__content-frame-group--layout-two-column.elements-site__content-frame-group--layout-proportion-auto-right {
  grid-template-columns: 1fr auto;
}
.elements-site__content-frame-group--layout-two-column.elements-site__content-frame-group--layout-responsive-yes {
  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}

.elements-site__content-frame-group--layout-three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.elements-site__content-frame-group--layout-three-column.elements-site__content-frame-group--layout-responsive-yes {
  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}
.elements-site__content-frame-group--layout-four-column {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.elements-site__content-frame-group--layout-four-column.elements-site__content-frame-group--layout-responsive-yes {
  @media (max-width: 767px) {
    grid-template-columns: 1fr 1fr;
  }
}
