.heading-editor {
  display: grid;
  grid-auto-flow: row;
}
.heading-editor__input {
  background: none;
  width: 100%;
  border: none;
  box-sizing: border-box;
  transition: border-color 250ms ease-in-out;
  color: var(--color-1);
  box-shadow: none;
}
